{% comment %} Get an array of published episodes
with the most recent first {% endcomment %}
{% assign episodes = site.data.episodes | where_exp: "entry", "entry.status == 'published'" | sort: "number" | reverse %}

<ul class="episodes">

    {% for episode in episodes %}

        <li class="episode" id="{{ episode.title | slugify }}">

            <div class="date">
                {{ episode.date | date: "%-d %b %Y" }}
            </div>

            <h2 id="{{ episode.title | slugify }}">
                <a href="{{ site.baseurl }}/episodes/{{ episode.slug }}">
                    {{ episode.title }}
                </a>
            </h2>

            {% if episode.guests %}

                <p class="guests">

                    With

                        {% for guest in episode.guests %}
                            {{ site.data.people[guest].name }}{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
                </p>

            {% endif %}

            <div class="player">
                {% if episode.mp3 and episode.mp3 != "" %}
                    <audio class="js-player" controls>

                        {% if episode.mp3 contains "http" %}
                            <source src="{{ episode.mp3 }}" type="audio/mp3" />
                        {% else %}
                            <source src="{{ site.baseurl }}/media/{{ episode.mp3 }}" type="audio/mp3" />
                        {% endif %}
                    </audio>
                {% else %}
                    <p class="player-fallback">
                        Episode player coming here soon.
                    </p>
                {% endif %}
            </div>

            <div class="description">
                {{ episode.description | markdownify }}
            </div>

            <div class="notes">
                {{ episode.notes | markdownify }}
            </div>

        </li>

    {% endfor %}

</ul>