{% assign episode = include.episode %}


<h1>{{ episode.title }}</h1>

<div class="tagline">
    {{ episode.description | markdownify }}
</div>

{% include follow.html %}

<div class="player">
    {% if episode.mp3 and episode.mp3 != "" %}
    <audio class="js-player" controls>

        {% if episode.mp3 contains "http" %}
        <source src="{{ episode.mp3 }}" type="audio/mp3" />
        {% else %}
        <source src="{{ site.baseurl }}/media/{{ episode.mp3 }}" type="audio/mp3" />
        {% endif %}

    </audio>

    {% else %}

    <p class="player-fallback">
        Episode player coming here soon.
    </p>

    {% endif %}
</div>

{{ episode.notes | markdownify }}

<div class="footnotes">
    <div class="date">This episode was published on <span class="date">{{ episode.date | date: "%d %B %Y" }}</span>.</div>
    <div class="credit">Supported by <a href="https://electricbookworks.com">Electric Book Works</a>: publishing reinvented for the digital age.</div>
</div>
